*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 80px;
    background-color: #0f1111;
    /* color: white; */
}
.nav-logo {
height: 10px;
width: 10px;
}

.logo{
    background-image: url(" amazon logo ba.png") ;
    height: 50px;
    width: 100px;
    background-size: cover;
}