*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
     scroll-padding-top: 3rem; 

}
:root{
    --main-color: #ff9f0d;
    --text-color:#fff;
    --other-color:#212121;
    --second-color:#9e9e9e;
    --bg-color:#111111;
    --big-font:3.5rem;
    --h2-font:2.6rem;
    --p-font:1.1rem;
}
body{
    background: var(--bg-color);
    color: var (--tx-color);
}
header{

    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    text-align: center;
    color: var(--text-color);
    font-size: 30px;
    font-weight: 700;
}
.logo i{
vertical-align: middle;
margin-right: 8px;
 color: var(--main-color); 
margin-top: 5px;
}
.navlist{
    display: flex;
    margin-top: 10px;
}
.navlist a{
  color: var(--text-color); 
    font-size: var(--p-font); 
    font-weight: 600;

    margin: 0px  30px;


     transition: all .50s ease; 
animation-name: a;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;

}

@keyframes a{
     0%{background-color: red;}
    25%{background-color:darkblue;
    color: white;}
    50%{
        background-color: green;
        color: red;
      
    }
    75%{background-color: teal;}
    100%{background-color: darkmagenta;
    color: darkblue;} 
}


.navlist a:hover{
 color: var(--main-color); 
}
.navlist a.active{
     color: var(--main-color); 
}
.nav-icons {

display: flex;
text-align: center;
 padding: 8px 15px; 
 background: var(--main-color);
 border-radius: 3rem;
 box-shadow:  #ff9f0d 0px 1px 25px;

}
.nav-icons i{
    vertical-align: center;
    font-size: 25px;
    color: var(--bg-color);
  margin-right: 8px;
  margin-left: 5px;
  transition: all .50s ease;
}
#menu-icon{
 font-size: 30px;
 color: var(--bg-color);
 z-index: 10001;
 cursor: pointer;
 display: none;
}
.nav-icons i:hover{
    transform: scale(1.1);
    color: var(--text-color);
}
section{
    padding: 70px 14% 60px; 
}
.home{
     position: relative;
      height: 100vh;
      display: grid;
       grid-template-columns: repeat(2,1fr); 
       text-align: center;
       gap: 2rem;
}
.home-img img{
     width: 100%;
     height: auto; 
     margin-top: 80px;
} 
.home-text h1{
font-size: var(--big-font);
font-weight: 700;
line-height: 1.3;
margin-bottom: 3rem;
color: var(--text-color);
 margin-top: 120px;
margin-left: -200px; 
}
span{
    color: var(--main-color);
}
.btn1{
    display: inline-block;
    padding: 15px 35px;
    background: var(--other-color);
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all .50s ease;

animation-name: btn;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;

}

@keyframes btn{
    0%{background-color: red;}
    25%{background-color:darkblue;
    color: white;}
    50%{
        background-color: green;
        color: red;
      
    }
    75%{background-color: teal;}
    100%{background-color: darkmagenta;
    color: darkblue;}
}




.btn1 i{
    vertical-align: middle;
    margin-left: 9px;
    font-size: 22px;
}
.btn1:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: #ff9f0d 0px 1px 25px;
}
.btn2{
    display: inline-block;
    margin-left: 30px;
    font-size: var(--p-font);
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
    transition: all .50s ease;
}